<%- include('partials/head')%>
<body>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <style>
    .home{
        background-image: url("../img/background_2.jpg");
        width: 100%;
        height: 100%;
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        background-attachment: fixed;
    }
    .box{
        box-shadow: 0 8px 24px 0 rgba(252, 246, 224, 0.704);
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
    }
    </style>
    <div class = "home">
        <%- include('partials/navbar')%>
        <div class="row" style = "display: flex; justify-content: center;">
          <% for (let info of information) { %>
            <div class="border border-2 mt-3 mb-3 rounded-5 box" style="width: 19rem; background-color: white; margin-left: 20px; margin-right: 20px; ">
              <div class=  "mb-3 mt-2"  style = "width: 304px; height: 200px;">
                <img class = "rounded-5"src = "/img/profile_picture.jpg" alt = "classes" style = "width:275px; height: 200px;">
              </div>  
                <div  class = "mt-4" style = "margin-left: 10px; ">
                  <h5 class="card-title"> Name: <%= info.FirstName%> <%=info.LastName %></h5>
                  <p > Majoring in <%= info.Major %> </p>
                  <p > Classes: <%= info.Classes %></p>
                  <p > Email: <%= info.Email %></p>
                  <!-- <a href="#" class="btn btn-primary" style = "width: 100px; height:40px">
                    <span class = "align-text-top">See More</span>
                  </a> -->
                </div>
              </div>
            <%}%>
          </div>
        </div>
    </div>
    <%- include('partials/footer')%>
</body>